 .u-section-1 {
  filter: none;
  background-image: none;
  min-height: 1044px;
}

.u-section-1 .u-image-1 {
  filter: none;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px 84px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-text-1 {
    width: 880px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1505px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 1186px;
  --gap: 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-2 .u-image-1 {
  background-image: url("/images/depositphotos_52463231-stock-photo-business-people-working.webp");
  background-position: 22.16% 50%;
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-1 {
  min-height: 112px;
  margin-top: 270px;
  margin-bottom: -30px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-image-2 {
  background-image: url("/images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-2 {
  min-height: 112px;
  margin-top: 270px;
  margin-bottom: -30px;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-image-3 {
  background-image: url("/images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-3 {
  min-height: 112px;
  margin-top: 270px;
  margin-bottom: -30px;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-image-4 {
  background-image: url("/images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-4 {
  min-height: 112px;
  margin-top: 270px;
  margin-bottom: -30px;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-image-5 {
  background-image: url("/images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-5 {
  min-height: 112px;
  margin-top: 270px;
  margin-bottom: -30px;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px 30px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-image-6 {
  background-image: url("/images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-6 {
  min-height: 112px;
  margin-top: 270px;
  margin-bottom: -30px;
  height: auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 20px 30px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-image-7 {
  background-image: url("/images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-13 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-7 {
  min-height: 112px;
  margin-top: 270px;
  margin-bottom: -30px;
  height: auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 20px 30px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-image-8 {
  background-image: url("/images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-15 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-8 {
  min-height: 112px;
  margin-top: 270px;
  margin-bottom: -30px;
  height: auto;
}

.u-section-2 .u-container-layout-16 {
  padding: 20px 30px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-image-9 {
  background-image: url("/images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-17 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-9 {
  min-height: 112px;
  margin-top: 270px;
  margin-bottom: -30px;
  height: auto;
}

.u-section-2 .u-container-layout-18 {
  padding: 20px 30px;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 978px;
    grid-gap: 20px;
    grid-auto-columns: calc(33.333333333333336% - 13.333333333333334px);
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-image-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-image-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-image-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-image-7 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-image-8 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }

  .u-section-2 .u-image-9 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-group-9 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1873px;
    grid-auto-columns: calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 165px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    margin-top: 190px;
  }
}