 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/images/Imagenredondeada_202007-21-1024x684.png');
  background-position: 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.u-section-1 .u-sheet-1 {
  min-height: 374px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 111px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1159px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
  grid-template-rows: repeat(2, auto);
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20.6667px));
  min-height: 709px;
  grid-auto-columns: calc(33.3333% - 20.6667px);
  --gap: 31px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-2 .u-image-1 {
  width: 303px;
  height: 223px;
  background-size: auto 128%;
  object-position: 43.75% 59.06%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 26px;
}

.u-section-2 .u-image-2 {
  width: 303px;
  height: 223px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 26px;
}

.u-section-2 .u-image-3 {
  width: 303px;
  height: 223px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 26px;
}

.u-section-2 .u-image-4 {
  width: 303px;
  height: 223px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 26px;
}

.u-section-2 .u-image-5 {
  width: 303px;
  height: 223px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 26px;
}

.u-section-2 .u-image-6 {
  width: 303px;
  height: 223px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-list-2 {
  grid-template-rows: repeat(2, auto);
  margin-top: 19px;
  margin-bottom: 20px;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(3, calc(33.3333% - 20.6667px));
  min-height: 351px;
  grid-auto-columns: calc(33.3333% - 20.6667px);
  --gap: 31px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 26px;
}

.u-section-2 .u-image-7 {
  width: 303px;
  height: 223px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 19px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 26px;
}

.u-section-2 .u-image-8 {
  width: 303px;
  height: 223px;
  object-position: 81.18% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin: 19px auto 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 26px;
}

.u-section-2 .u-image-9 {
  width: 303px;
  height: 223px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20.6667px));
    min-height: 480px;
    grid-gap: 31px;
    grid-auto-columns: calc(33.333333333333336% - 20.6667px);
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20.666666666666668px));
    grid-auto-columns: calc(33.333333333333336% - 20.666666666666668px);
    min-height: 289px;
  }

  .u-section-2 .u-image-7 {
    height: 178px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-8 {
    height: 178px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-9 {
    height: 178px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.500024999999999px));
    min-height: 855px;
    grid-auto-columns: calc(50% - 15.500024999999999px);
  }

  .u-section-2 .u-image-1 {
    height: 263px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 263px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 263px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 263px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 263px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 263px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    grid-auto-columns: calc(50% - 15.5px);
    min-height: 664px;
  }

  .u-section-2 .u-image-7 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-8 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-9 {
    height: 210px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 444px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 444px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 444px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 444px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 444px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 444px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 355px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    height: 355px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    height: 355px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 273px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 273px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 273px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 273px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 273px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 273px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    height: 218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-8 {
    height: 218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-9 {
    height: 218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}